<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Web App version 2</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #5d9ff5bd;
            margin: 0;
            padding: 0;
        }

        div {
            text-align: center;
            padding: 50px;
        }

        h1 {
            color: #424141;
            font-size: 2.5em;
        }
    </style>
</head>

<body>
    <div>
        <h1>My System Information</h1>
        <h3>OS Information: {{ os_information }}</h3>
        <h3>CPU Usage: {{ cpu }}</h3>
        <h3>Memory Usage: {{ memory }}</h3>
    </div>
</body>

</html>
